* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

body {
  background-color: rgb(10, 2, 59);
  font-weight: 100;
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}

header {
  background-image: url("../images/design1_image2.jpg");
  background-size: cover;
  background-position-y: 20%;
  min-height: 15vh;
  margin: 50px 90px 5px 90px;
  border-radius: 15px;
  width: 100%;
}

main {
  width: 100%;
}

h1 {
  font-size: 6vh;
  color: aqua;
  margin: 0px 20px 0px 20px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
}

h2 {
  font-size: xx-large;
  background-color: rgb(255, 255, 255);
  color: aqua;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  margin: 0px 90px 0px 90px;
  text-align: center;
  border-radius: 15px;
}

h3 {
  color: aqua;
  font-style: italic;
}

.logo {
  margin-top: -90px;
  margin-left: 70vw;
  width: 120px;
}

.nav-articles {
  margin-top: 25px;
  display: flex;
}

.articles {
  margin-left: 80px;
}

nav {
  margin: 0px 40px 0px 120px;
}

nav a {
  color: aqua;
  margin-block: 10px;
}

.active-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

p {
  text-indent: 20px;
  margin-block: 3vh;
}

footer {
  width: 100%;
  align-self: flex-end;
  align-items: center;
  text-align: center;
}

footer p {
  margin-block: 0;
}

footer a {
  color: aqua;
}
