/* General */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

body {
  background-color: rgb(10, 2, 59);
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}

header {
  background-image: url("../images/design1_image2.jpg");
  background-size: cover;
  background-position-y: 20%;
  min-height: 20vh;
  margin: 20px 60px 5px 60px;
  border-radius: 15px;
  width: 100%;
}

main {
  width: 100%;
}

/* Headings & logo */

h1 {
  font-size: 3.4em;
  font-weight: 900;
  color: yellow;
  margin: 0px 20px 0px 20px;
  -webkit-text-stroke: 1px black;
}

h2 {
  font-size: 2em;
  font-weight: 1000;
  background-color: rgb(255, 255, 255);
  color: yellow;
  -webkit-text-stroke: 1px black;
  margin: 0px 60px 0px 60px;
  text-align: center;
  border-radius: 15px;
}

h3,
caption {
  color: yellow;
  font-style: italic;
  font-size: 1.3em;
  padding: 5px;
}

.logo {
  margin-top: -90px;
  margin-left: 70vw;
  width: 120px;
}

.logo:hover {
  margin-top: -90px;
  margin-left: 70vw;
  width: 120px;
  transform: rotate(360deg);
  transition: 1s;
}

/* Nav & Articles */

.nav-articles {
  display: flex;
}

nav {
  padding: 10px;
  justify-content: flex-start;
}

nav a {
  color: yellow;
  font-size: 1.1em;
  padding: 10px;
  width: 200px;
  font-weight: 1000;
  text-decoration: none;
}

nav a:hover {
  color: rgb(255, 255, 255);
  font-size: 1.3em;
  transition: 0.5s;
  padding: 10px;
  width: 200px;
  font-weight: 1000;
}

.active-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.articles-rules {
  margin: 0vh 12vh 0vh 3vh;
  padding: 20px;
}

.articles-about {
  margin: 0vh 12vh 0vh 3vh;
  padding: 20px;
  border: 2px solid yellow;
  border-radius: 10px;
  background-color: aqua;
}

.articles-home,
.article-contact {
  padding: 20px;
  border: 2px solid yellow;
  border-radius: 10px;
  background-color: aqua;
  margin: auto;
}

.article-contact h3 {
  font-size: 1.9em;
  text-align: center;
  -webkit-text-stroke: 1px black;
}

.article-contact p,
.articles-home p,
.articles-about p {
  color: rgb(10, 2, 59);
}

.article-contact article,
.articles-home article,
.articles-about article {
  padding: 20px;
}

.articles-about h3,
.articles-home h3 {
  font-size: 1.9em;
  -webkit-text-stroke: 1px black;
}

p {
  text-indent: 20px;
  font-size: 1em;
}

.emoji {
  text-align: center;
}

.emoji:hover {
  text-align: center;
  transform: rotate(360deg);
  transition: 1s;
}

.mail {
  color: yellow;
  text-decoration: none;
}

.mail:hover {
  color: rgb(10, 2, 59);
  font-size: 1.3em;
  transition: 0.5s;
  font-style: italic;
}

/* Game Info: Tables & Maps */

.table-1 {
  border: 2px solid yellow;
  border-radius: 10px;
  background-color: aqua;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.table-1 td {
  color: rgb(10, 2, 59);
}

caption {
  font-size: 1.9em;
  font-weight: 900;
}

th {
  font-weight: 1000;
  font-size: 1.3em;
  -webkit-text-stroke: 1px black;
  color: yellow;
  padding: 10px;
}

tr {
  border: 1px solid yellow;
}

td {
  padding: 10px;
  font-size: 1em;
}

.tr-boxes {
  background-color: aliceblue;
}

h4 {
  text-align: center;
  color: yellow;
  padding: 5px;
}

.table-2 {
  text-align: left;
  padding: 10px;
}

.table-2 a {
  color: white;
  font-size: 0.9em;
}

.table-2 a:hover {
  color: yellow;
  font-size: 1.2em;
  transition: 0.5s;
  font-style: italic;
}

.maps {
  text-align: center;
}

.maps > h2 {
  margin: 20px;
}

iframe {
  margin: 15px;
  border-radius: 10px;
}

/* Form */

.registration-form {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  font-size: medium;
}

legend {
  color: yellow;
  font-size: 1.5em;
  font-weight: 1000;
  -webkit-text-stroke: 1px black;
}

fieldset {
  border: 2px solid yellow;
  border-radius: 10px;
  background-color: aqua;
  padding: 20px;
  margin: 10px 0px 10px 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 700px;
}

.fieldset-row {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.position-container p {
  font-size: medium;
  text-indent: 0;
}

label {
  color: rgb(10, 2, 59);
  padding: 5px;
}

input,
select {
  padding: 4px;
  color: gray;
  border-radius: 15px;
}

fieldset p {
  margin-bottom: 15px;
  color: rgb(10, 2, 59);
}

option {
  color: rgb(10, 2, 59);
}

button {
  color: rgb(10, 2, 59);
  padding: 10px;
  border-radius: 10px;
}

button:hover {
  color: black;
  background-color: yellow;
  transition: 0.5s;
  padding: 13px;
  border-radius: 10px;
}

input.short-fields {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#submit {
  font-size: 1.4em;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

#reset {
  display: flex;
  margin-left: auto;
}

/* Rules & Policies: Lists */

li {
  padding: 7px;
}

li h3 {
  font-size: 1.3em;
  font-style: normal;
  font-weight: 100;
}

.list-motto {
  text-align: center;
  font-size: 1.8em;
  margin-bottom: 10px;
}

.categories-list {
  list-style: lower-latin;
  margin-left: 40px;
}

.list-subtitle {
  margin-top: 15px;
  text-decoration: underline;
}

dt {
  color: yellow;
  font-size: 1.3em;
}

/* Footer */

footer {
  width: 100%;
  align-self: flex-end;
  align-items: center;
  text-align: center;
  background-color: rgb(0, 0, 0);
}

footer p {
  margin: 10px;
  font-size: 1em;
}

footer a {
  color: yellow;
}

footer a:hover {
  font-size: 1.2em;
  font-style: italic;
  transition: 0.5s;
}
